
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.24.0.3 

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
mqtt:
  sensor:
    - name: "NAS Disk Total"
      state_topic: "homeassistant/sensor/nas/state"
      unit_of_measurement: "Go"
      value_template: "{{ value.split()[0].replace('G', '') | int }}"

    - name: "NAS Disk Used"
      state_topic: "homeassistant/sensor/nas/state"
      unit_of_measurement: "Go"
      value_template: "{{ value.split()[1].replace('G', '') | int }}"

    - name: "NAS Disk Free"
      state_topic: "homeassistant/sensor/nas/state"
      unit_of_measurement: "Go"
      value_template: "{{ value.split()[2].replace('G', '') | int }}"
template:
  - sensor:
      - name: "NAS Disk Used Percentage"
        unit_of_measurement: "%"
        state: >
          {% set used = states('sensor.nas_disk_used') | int %}
          {% set total = states('sensor.nas_disk_total') | int %}
          {% if total > 0 %}
            {{ (used / total * 100) | round(1) }}
          {% else %}
            0
          {% endif %}
